<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-Toilet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginMC</display-name>
    <servlet-name>loginMC</servlet-name>
    <servlet-class>Services.loginMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginMC</servlet-name>
    <url-pattern>/loginMC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>Services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMC</display-name>
    <servlet-name>ViewMC</servlet-name>
    <servlet-class>Services.ViewMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMC</servlet-name>
    <url-pattern>/ViewMC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMC</display-name>
    <servlet-name>addMC</servlet-name>
    <servlet-class>Services.addMC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMC</servlet-name>
    <url-pattern>/addMC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToilet</display-name>
    <servlet-name>addToilet</servlet-name>
    <servlet-class>Services.addToilet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToilet</servlet-name>
    <url-pattern>/addToilet</url-pattern>
  </servlet-mapping>
 
</web-app>